* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}
/* shared css style */

/* banner */
header {
  background: url("../images/banner/banner3.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 130px;
}
.banner {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  padding: 100px 0;
}
.banner-content {
  max-width: 525px;
  /* margin: 0 auto;
  direction: ltr; */
  padding-top: 216px;
  padding-bottom: 166px;
  margin-right: 230px;
}
.banner .banner-heading {
  color: #fff;
  font-size: 65px;
  font-weight: 700;
}
.banner .banner-discription {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 25px 0 32px 0;
}
.btn-primary {
  color: #005fac;
  font-size: 20px;
  font-weight: 500;
  padding: 20px 25px;
  border-radius: 5px;
  background: #fff;
  border: 0;
  transition: 0.4s;
}
.btn-primary:hover {
  background: #005fac;
  color: #fff;
}

/* main related style */
main {
  max-width: 1141px;
  margin: 0 auto;
}
section {
  margin-bottom: 130px;
}

/* failures section */
#failures-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#failures-section .failures-section-img img {
  width: 100%;
}
#failures-section .failures-section-content {
  max-width: 416px;
  text-align: left;
}
#failures-section .failures-section-content .failures-heading {
  color: #151414;
  font-size: 40px;
  font-weight: 700;
}
#failures-section .failures-section-content .failures-description {
  color: #444343;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 24px 0 16px 0;
}
#failures-section .failures-section-content .failtures-list li {
  list-style: none;
  color: #444343;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
#failures-section .failures-section-content .failtures-list li > i {
  margin-right: 10px;
  color: #16d887;
  font-size: 24px;
}
/* play-section */
#play-section {
  text-align: center;
}
#play-section .play-section-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
#play-section .play-section-container .play-icon {
  width: 93px;
  height: 93px;
}
#play-section .play-section-container .play-heading {
  color: #151414;
  font-size: 30px;
  font-weight: 700;
  margin: 24px 0 16px 0;
}
#play-section .play-section-container .play-discription {
  color: #737272;
  font-size: 25px;
  font-weight: 500;
}
/* call-section */
#call-section {
  background: url("../images/gradient1.png"), url("../images/watch.png");
}
.call-section-content {
  text-align: left;
  padding: 59px 0;
  margin-left: 64px;
}
.call-section-content > h3 {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 24px;
}
/* footer */
footer {
  background-color: #000;
  padding: 130px 0;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  width: 71.25%;
  max-width: 1140px;
  margin: 0 auto;
}
.footer-future .footer-future-header {
  color: #f8f8f8;
  font-size: 45px;
  font-weight: 700;
}
.footer-future .footer-discription {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 16px 0 24px 0;
  max-width: 485px;
}
.footer-future > p,
.footer-future > p > a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 16px;
}
.footer-future-icon .foot-icon{
  margin-right: 10px;
  margin-top: 14px;
}

.footer-subscribe .footer-subscribe-header {
  color: #fff;
  font-size: 25px;
  font-weight: 500;
}
.footer-subscribe .footer-form #footer-email {
  color:  #f3f3f3;
  font-size: 18px;
  border-radius: 8px;
  border: 1px solid #FFF;
  padding: 20px 0px 20px 20px;
  background-color: #000 ;
  margin: 30px 0 16px 0;
}
.footer-subscribe .footer-form #footer-email::placeholder{
  color:  #f3f3f3;
  font-size: 18px;
  font-weight: 400;
}
#footer-submit-btn{
  border: 0;
  border-radius: 8px;
  background: #005FAC;
  color: #fff;
  padding: 20px 35px;
}
#footer-submit-btn:hover{
  background: #f8f8f8 ;
  color: #005FAC;
}
.footer-form > input{
  display: block;
}

